[submodule "dep/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "dep/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
