[submodule "dep/yaml-cpp"]
	path = dep/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "dep/vk-bootstrap"]
	path = dep/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "dep/VulkanMemoryAllocator"]
	path = dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt
